<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rubin.rpan.modules.user.dao.RPanUserSearchHistoryMapper">
    <resultMap id="BaseResultMap" type="com.rubin.rpan.modules.user.entity.RPanUserSearchHistory">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="search_content" jdbcType="VARCHAR" property="searchContent" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, search_content, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from r_pan_user_search_history
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from r_pan_user_search_history
    where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.rubin.rpan.modules.user.entity.RPanUserSearchHistory">
        insert into r_pan_user_search_history (id, user_id, search_content, create_time, update_time)
        values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{searchContent,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.rubin.rpan.modules.user.entity.RPanUserSearchHistory" useGeneratedKeys="true" keyProperty="id">
        insert into r_pan_user_search_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="searchContent != null">
                search_content,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="searchContent != null">
                #{searchContent,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.rubin.rpan.modules.user.entity.RPanUserSearchHistory">
        update r_pan_user_search_history
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="searchContent != null">
                search_content = #{searchContent,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.rubin.rpan.modules.user.entity.RPanUserSearchHistory">
        update r_pan_user_search_history
        set user_id = #{userId,jdbcType=BIGINT},
            search_content = #{searchContent,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!--===================================================================自定义===================================================================-->

    <select id="selectRPanUserSearchHistoryVOListByUserId" resultType="com.rubin.rpan.modules.user.vo.RPanUserSearchHistoryVO">
        SELECT
            search_content AS value
        FROM
            r_pan_user_search_history
        WHERE
            user_id = #{userId}
        ORDER BY update_time DESC
        LIMIT 10
    </select>

    <update id="updateUpdateTimeBySearchContentAndUserId">
        UPDATE
            r_pan_user_search_history
        SET
            update_time = NOW()
        WHERE
            search_content = #{searchContent}
        AND user_id = #{userId}
    </update>

</mapper>