<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rubin.rpan.modules.file.dao.RPanFileMapper">
    <resultMap id="BaseResultMap" type="com.rubin.rpan.modules.file.entity.RPanFile">
        <id column="file_id" jdbcType="BIGINT" property="fileId"/>
        <result column="filename" jdbcType="VARCHAR" property="filename"/>
        <result column="real_path" jdbcType="VARCHAR" property="realPath"/>
        <result column="file_size" jdbcType="VARCHAR" property="fileSize"/>
        <result column="file_size_desc" jdbcType="VARCHAR" property="fileSizeDesc"/>
        <result column="file_suffix" jdbcType="VARCHAR" property="fileSuffix"/>
        <result column="file_preview_content_type" jdbcType="VARCHAR" property="filePreviewContentType"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        file_id, filename, real_path, file_size, file_size_desc, file_suffix, file_preview_content_type, create_user, create_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from r_pan_file
        where file_id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from r_pan_file
        where file_id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.rubin.rpan.modules.file.entity.RPanFile">
        insert into r_pan_file (file_id, filename, real_path,
          file_size, file_size_desc, file_suffix,
          file_preview_content_type, create_user, create_time
          )
        values (#{fileId,jdbcType=BIGINT}, #{filename,jdbcType=VARCHAR}, #{realPath,jdbcType=VARCHAR},
          #{fileSize,jdbcType=VARCHAR}, #{fileSizeDesc,jdbcType=VARCHAR}, #{fileSuffix,jdbcType=VARCHAR},
          #{filePreviewContentType,jdbcType=VARCHAR}, #{createUser,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}
          )
  </insert>
    <insert id="insertSelective" parameterType="com.rubin.rpan.modules.file.entity.RPanFile">
        insert into r_pan_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileId != null">
                file_id,
            </if>
            <if test="filename != null">
                filename,
            </if>
            <if test="realPath != null">
                real_path,
            </if>
            <if test="fileSize != null">
                file_size,
            </if>
            <if test="fileSizeDesc != null">
                file_size_desc,
            </if>
            <if test="fileSuffix != null">
                file_suffix,
            </if>
            <if test="filePreviewContentType != null">
                file_preview_content_type,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileId != null">
                #{fileId,jdbcType=BIGINT},
            </if>
            <if test="filename != null">
                #{filename,jdbcType=VARCHAR},
            </if>
            <if test="realPath != null">
                #{realPath,jdbcType=VARCHAR},
            </if>
            <if test="fileSize != null">
                #{fileSize,jdbcType=VARCHAR},
            </if>
            <if test="fileSizeDesc != null">
                #{fileSizeDesc,jdbcType=VARCHAR},
            </if>
            <if test="fileSuffix != null">
                #{fileSuffix,jdbcType=VARCHAR},
            </if>
            <if test="filePreviewContentType != null">
                #{filePreviewContentType,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.rubin.rpan.modules.file.entity.RPanFile">
        update r_pan_file
        <set>
            <if test="filename != null">
                filename = #{filename,jdbcType=VARCHAR},
            </if>
            <if test="realPath != null">
                real_path = #{realPath,jdbcType=VARCHAR},
            </if>
            <if test="fileSize != null">
                file_size = #{fileSize,jdbcType=VARCHAR},
            </if>
            <if test="fileSizeDesc != null">
                file_size_desc = #{fileSizeDesc,jdbcType=VARCHAR},
            </if>
            <if test="fileSuffix != null">
                file_suffix = #{fileSuffix,jdbcType=VARCHAR},
            </if>
            <if test="filePreviewContentType != null">
                file_preview_content_type = #{filePreviewContentType,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where file_id = #{fileId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.rubin.rpan.modules.file.entity.RPanFile">
        update r_pan_file
        set filename = #{filename,jdbcType=VARCHAR},
          real_path = #{realPath,jdbcType=VARCHAR},
          file_size = #{fileSize,jdbcType=VARCHAR},
          file_size_desc = #{fileSizeDesc,jdbcType=VARCHAR},
          file_suffix = #{fileSuffix,jdbcType=VARCHAR},
          file_preview_content_type = #{filePreviewContentType,jdbcType=VARCHAR},
          create_user = #{createUser,jdbcType=BIGINT},
          create_time = #{createTime,jdbcType=TIMESTAMP}
        where file_id = #{fileId,jdbcType=BIGINT}
    </update>

    <!--===================================================================自定义===================================================================-->

    <select id="selectByFileIdList" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            r_pan_file
        WHERE
            file_id IN
        <foreach collection="fileIdList" open="(" close=")" item="item" separator=",">
            #{item}
        </foreach>
    </select>

    <delete id="deleteBatch">
        DELETE FROM r_pan_file WHERE file_id IN
        <foreach collection="fileIdList" open="(" close=")" item="item" separator=",">
            #{item}
        </foreach>
    </delete>

</mapper>