<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>R Pan</title>
    <!--样式引用-->
    <link rel="stylesheet" href="/plugin/layui/css/layui.css"/>
    <link rel="stylesheet" href="/plugin/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/page/common/index.css?v=1.0.0"/>
    <link rel="stylesheet" href="/page/login/index.css?v=1.0.0"/>
</head>
<body>

<div class="page-content">

    <!--title-->
    <div class="r-pan-title-content">
        <div class="r-pan-title-font-content">
            <label class="r-pan-title-font">R Pan</label>
        </div>
    </div>

    <div class="page-wrap">
        <div class="w">
            <div class="user-con">
                <div class="user-title">用户登录</div>
                <div class="user-box">
                    <div class="user-item">
                        <label class="user-label" for="username">
                            <i class="fa fa-user"></i>
                        </label>
                        <input class="user-content" id="username" placeholder="请输入用户名" autocomplete="off">
                    </div>
                    <div class="user-item">
                        <label class="user-label" for="password">
                            <i class="fa fa-lock"></i>
                        </label>
                        <input type="password" class="user-content" id="password" placeholder="请输入密码" autocomplete="off">
                    </div>
                    <a class="btn btn-submit" id="login_btn">登录</a>
                    <div class="link-item">
<!--                        <a class="link" href="./user-pass-reset.html" target="_blank">忘记密码</a>-->
                        <a class="link" href="/register">免费注册</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--脚本引用-->
<script src="/plugin/jquery/jquery.js"></script>
<script src="/plugin/layer/layer.js"></script>
<script src="/page/common/index.js?v=1.0.2"></script>
<script src="/service/user-service.js?v=1.0.2"></script>
<script src="/page/login/index.js?v=1.0.2"></script>
</body>
</html>